:root {
    /* primary */
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
  
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
  }

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}
body{ 
    background-color: var(--Light-grey);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#botaoImage{
    align-items: center;
    background-color: var(--Purple);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0.8rem;
    cursor: pointer;
}
#botaoImage:hover{
    background-color: var(--off-black);
}
main{
    display: grid;
    background-color: var(--White);
    padding: 25px 150px 20px 45px;
    border-radius: 20px 20px 150px 20px;
}
h6{
    color: var(--Smokey-grey);
    text-transform: uppercase;
    font-size: 12px;
}

input{
    margin-right: 8px;
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    padding: 5px 0px 5px 20px;
    font-size: 32px;
    width: 130px;
}

#midSection{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: right;
}

#borda{
    width: 100%;
    margin: 0px;
    border: 0.5px solid var(--Light-grey);
}
h1{ 
    font-size: 70px;
    font-weight: 800 ;
    font-style: italic;
    margin-left: 10px;
}

#idade p{
    color: var(--Purple);
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    margin-left: 10px;
}
#dataNascimento{
    display: flex;
}
.idade{
    display: flex;
    align-items: center;
    
}

.error-texts {
    color: var(--Light-red);
    font-size: 0.6rem;
    font-weight: 400;
  }
